<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>
    <!-- Creates boxes/fields for users
    to click and enter inputs -->
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <!-- Provides link back to login page
    if user is ready to log in -->
    <a href="{{ url_for('login') }}">If you're already one of us, LOG IN</a>

</body>

</html>
