<!--Tells the browser that the type of document is an HTML -->
<!DOCTYPE html>
<!-- Sets the language attribute to english -->
<html lang="en">

<!-- Header which sets the title -->
<head>
    <!--The title of the web page -->
    <title>Different Games and they're descriptions</title>
    <!-- Links to my css style sheet -->
    <link href="static/lab6.css" rel="stylesheet">
    <!-- Closes header -->
</head>
<!-- Begins body -->
<body>
<!-- Header 1 with name and closes first header-->
<h1>My top 5 Games currently:</h1>

    <!-- Ordered list begins that orders with numbers -->
    <ol>
        <!-- First item in list that starts as "1" -->
        <li>Zelda: Ocarina of Time
            <!-- Creates class zelda for image and file trail, with some text -->
            <img class="zelda" src="static/ocarina.jpg" alt="Ocarina of time image">
            <!-- Gives a little info about why this is my top game and uses
            <p>(paragraph) which prints text to the list item -->
            <p>- One of my favorite games that I have played a million times
            since I was a kid</p>
            <!-- Uses the <a> tag and hyper reference to direct to
            the URL website and names the link some text -->
            <a href="https://www.imdb.com/title/tt0184666/plotsummary">The story of OoT</a></li>
        <!-- Second item in the list labeled as 2 -->
        <li>World of Warcraft
            <!-- Creates class warcraft for image and file trail, with some text -->
            <img class="warcraft" src="static/wow.jpg" alt="World of warcraft image">
            <!-- Gives a little info about why this is in my top games and uses
            <p>(paragraph) which prints text to the list item -->
            <p>- I have played this for 15 years and really sparked my love for MMOs</p>
            <!-- Uses the <a> tag and hyper reference to direct to
            the URL website and names the link some text -->
            <a href="https://www.gamesradar.com/world-of-warcraft-timeline/">The history of Azeroth</a> </li>
        <!-- Third item in the list labeled as 3 -->
        <li>Halo 3
            <!-- Gives a little info about why this is in my top games and uses
            <p>(paragraph) which prints text to the list item -->
            <p>- My "go-to" in high school, everyone played everyday</p>
            <!-- Uses the <a> tag and hyper reference to direct to
            the URL website and names the link some text -->
            <a href="https://halo.fandom.com/wiki/Halo_3">Halo 3 story/characters</a> </li>
        <!-- Fourth item in the list labeled as 4 -->
        <li>Destiny 2
            <!-- Gives a little info about why this is in my top games and uses
            <p>(paragraph) which prints text to the list item -->
            <p>- The best looter-shooter around I believe</p>
            <!-- Uses the <a> tag and hyper reference to direct to
            the URL website and names the link some text -->
            <a href="https://www.digitaltrends.com/gaming/destiny-2-story-explainer/"> What destiny is all about</a></li>
        <!-- Fifth item in the list labeled as 5 -->
        <li>Fall guys
            <!-- Gives a little info about why this is in my top games and uses
            <p>(paragraph) which prints text to the list item -->
            <p>- This game is so hysterical, I play with my sister all the time</p>
            <!-- Uses the <a> tag and hyper reference to direct to
            the URL website and names the link some text -->
            <a href="https://www.polygon.com/reviews/2020/8/4/21354618/fall-guys-ultimate-knockout-review-pc-ps4">Fall guys Faq</a></li>
        <!-- Link to throw an error -->
        <li>oR tRy ThIs
        <p>- Click iT</p>
        <!-- Creates an href to the errorhandler and provides link back to homepage -->
        <a href="http://127.0.0.1:5000/GOTYA">YOU WON</a></li>
    <!-- Closes the ordered list -->
    </ol>

<!-- Header 2 with a title/label and closes header 2 -->
<h2>Some of the best controllers I think</h2>
    <!-- Begins an unordered list -->
    <ul>
        <!-- First item in unordered list -->
        <li>Xbox One controller
            <!-- Some text that is written with the <p> paragraph tag
            to write some text -->
            <p>- I think the best controllers hands down</p></li>
        <!-- Second item in the unordered list -->
        <li>Xbox Elite controller
            <!-- Creates class xbox for image and file trail, with some text -->
            <img class="xbox" src="static/controller.jpg" alt="Controller image">
            <!-- Some text that is written with the <p> paragraph tag
            to write some text -->
            <p>- My personal favorite</p></li>
        <!-- Third item in the unordered list -->
        <li>Playstation controller
            <!-- Some text that is written with the <p> paragraph tag
            to write some text -->
            <p>- Was fine when I was a kid but I now think is garbage</p></li>
        <!-- Fourth item in the unordered list -->
        <li>Nintendo 64
            <!-- Some text that is written with the <p> paragraph tag
            to write some text -->
            <p>- Nothing will ever beat this awesome controller</p></li>
        <!-- Fifth item in the unordered list -->
        <li>Mouse and keyboard
            <!-- Some text that is written with the <p> paragraph tag
            to write some text -->
            <p>- Can never go wrong with this dynamic duo</p></li>
    <!-- Closes unordered list -->
    </ul>

<!-- Heading 3 with a title and closes heading 3-->
<h3>Some of the best things to have for dinner on a solid night of gaming</h3>
    <!-- Begins an unordered list -->
    <ul>
        <!-- First item in unordered list -->
        <li>Cheesy Bison Burgers
            <!-- Some text to describe the item using the <p> paragraph tag -->
            <p>- Don't forget the sauce, thats the best part</p></li>
        <!-- Second item in unordered list -->
        <li>Meat lovers pizza
            <!-- Some text to describe the item using the <p> paragraph tag -->
            <p>- I don't know about everyone else but dipping in bleu cheese is heaven</p></li>
        <!-- Third item in unordered list -->
        <li>Burritos
            <!-- Some text to describe the item using the <p> paragraph tag -->
            <p>- Double meat and spiciness are amazing</p></li>
        <!-- Fourth item in unordered list -->
        <li>PB/Banana Oatmeal pancakes
            <!-- Some text to describe the item using the <p> paragraph tag -->
            <p>- It's almost like a fluffy cookie</p></li>
        <!-- Fifth item in unordered list -->
        <li>Sausage pasta/Mushrooms/Kale/Onions
            <!-- Some text to describe the item using the <p> paragraph tag -->
            <p>- I forget what all is in it, my girlfriend makes it but its great</p></li>
    <!-- Closes the unordered list -->
    </ul>
<!-- Creates Table -->
<table>
    <!-- Lables table -->
    <caption>Friends and their game stats</caption>
    <!-- Row -->
    <tr>
        <!-- All headings for top row -->
        <th>Name</th>
        <th>Losses</th>
        <th>Wins</th>
    <!-- Closes row -->
    </tr>
    <!-- Row -->
    <tr>
        <!-- Heading for 2nd row in column -->
        <th>Jake</th>
        <!-- Data in follow column -->
        <td>5</td>
        <!-- Data in follow column -->
        <td>38</td>
    <!-- Closes row -->
    </tr>
    <!-- Row -->
    <tr>
        <!-- Heading for 3rd row in column -->
        <th>Emily</th>
        <!-- Data in follow column -->
        <td>8</td>
        <!-- Data in follow column -->
        <td>18</td>
    <!-- Closes row -->
    </tr>
    <!-- Row -->
    <tr>
        <!-- Heading for 4th row in column -->
        <th>Hannah</th>
        <!-- Data in follow column -->
        <td>10</td>
        <!-- Data in follow column -->
        <td>18</td>
    <!-- Closes row -->
    </tr>

</table>
<!-- Prints the current date on the page -->
{{datetime}}<br>

<!-- Creates link to logout -->
<a href="{{url_for('logout')}}">Click here to logout</a>
<br>

<a href="{{url_for('update', id=current_user.id)}}">Click here to change password</a>

<!-- Closes the body -->
</body>
<!-- Closes the html tag to let the browser
know it's done collecting data -->
</html>
